@{
    ViewData["Title"] = "Home Page";
}

<div class="container-align">
    <div class="align-text">
        <h1>Bem-Vindo(a) de volta Usuario!</h1>
        <p>Pronto para mais uma sessão de foco?</p>
    </div>
    <div class="container-flex">
        <div class="container-sessao-atual">
            <h1>Sessão Atual</h1>
            <p>Você ainda não iniciou uma sessão de estudos.</p>
        </div>
        <div class="container-progresso-semanal">
            <h1>Progresso Semanal</h1>
            <p>Em breve, gráfico com estatisticas de estudo.</p>
            <progress></progress>
        </div>
    </div>
    <div class="container-ranking">
        <div class="ranking">
            <h1>Ranking</h1>
            <a href="#">Visualziar Ranking</a>
        </div>
    </div>
</div>
