@{
    ViewData["Title"] = "Home Page";
}


<form class="container-form">
    <div class="container-login">
        <div class="sep-b">
            <h1>Login</h1>
        </div>
        <div class="sep-b">
            <label for="CPF">CPF:</label>
            <input class="cpfinput" id="CPF" type="number" placeholder="Digite seu CPF">
        </div>
        <div class="sep-b">
            <label for="SENHA">SENHA:</label>
            <input id="SENHA" class="senhainput" type="password" placeholder="Digite sua Senha">
        </div>
        <div class="sep-b">
            <button class="login-button">
                Entrar
            </button>
        </div>
        <div class="sep-b">
            <a href="#">"Esqueci a Senha"?</a>
        </div>
    </div>
</form>
