@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Login</h2>

    <form asp-action="Login" method="post" class="w-50 mx-auto mt-4">
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" name="Email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" name="Senha" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

    @if (ViewBag.Erro != null)
    {
        <div class="alert alert-danger mt-3 w-50 mx-auto">
            @ViewBag.Erro
        </div>
    }

</div>
